*.class

# Package Files #
*.jar
*.war

#except the libs
!*/**/lib/*.jar

#target folder
target

#intellij generated
.idea
*.iml

../.project
../.settings/
.classpath
.project
.settings/
*/temp/
temp/
**/temp/
*/**/temp/
dist/*

SmartCityProject.tar.gz
*.log

