<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration debug="true">
    <appender name="sout" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%p] %d{HH:mm:ss,SSS} %c{1}:%L - %m    [%t]%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="levelMax" value="INFO"/>
            <param name="levelMin" value="TRACE"/>
        </filter>
    </appender>

    <appender name="serr" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.err"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%p] %d{HH:mm:ss,SSS} %c{1}:%L - %m    [%t]%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="levelMax" value="FATAL"/>
            <param name="levelMin" value="WARN"/>
        </filter>
    </appender>

    <appender name="logfile" class="org.apache.log4j.RollingFileAppender">
        <param name="file" value="./temp/execution.log"/>
        <param name="MaxFileSize" value="1MB"/>
        <!-- Keep one backup file -->
        <param name="MaxBackupIndex" value="1"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss,SSS} [%-5p] %c{1}:%L - %m    [%t]%n"/>
        </layout>
    </appender>

    <appender name="userlog" class="org.apache.log4j.RollingFileAppender">
        <param name="file" value="./temp/userlog.log"/>
        <param name="MaxFileSize" value="1MB"/>
        <!-- Keep one backup file -->
        <param name="MaxBackupIndex" value="1"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} [%-5p] - %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="levelMax" value="INFO"/>
            <param name="levelMin" value="INFO"/>
        </filter>
    </appender>

    <root>
        <priority value="debug"/>
        <appender-ref ref="sout"/>
        <appender-ref ref="serr"/>
        <appender-ref ref="logfile"/>
        <appender-ref ref="userlog"/>
    </root>
</log4j:configuration>