<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <display-name>Archetype Created Web Application</display-name>

    <servlet>
        <servlet-name>spring-web</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>spring-web</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <!-- Add scenario -->
    <servlet>
        <servlet-name>AddScenarioServlet</servlet-name>
        <servlet-class>fr.unice.polytech.al.trafficlight.webapp.servlets.AddScenarioServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddScenarioServlet</servlet-name>
        <url-pattern>/addscenario</url-pattern>
    </servlet-mapping>
    <!-- / Add scenario -->

    <!-- Emergency -->
    <servlet>
        <servlet-name>EmergencyServlet</servlet-name>
        <servlet-class>fr.unice.polytech.al.trafficlight.webapp.servlets.EmergencyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EmergencyServlet</servlet-name>
        <url-pattern>/emergency</url-pattern>
    </servlet-mapping>
    <!-- / Emergency -->
</web-app>
